<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DllFolder" value="C:\Program Files (x86)\Payne1" />
    <add key="DllName" value="ConcreteClasses.dll" />
    <add key="AppListenerName" value="PayneListener" />
    <add key="AppListenerLogName" value="applicationLog.txt" />
    <add key="AppListenerWriteEnabled" value="True" />
  </appSettings>
</configuration>