<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DllFolder" value="C:\Program Files (x86)\Payne" />
    <add key="DllName" value="ConcreteClasses.dll" />
    <add key="SidesListenerName" value="PayneListener" />
    <add key="SidesListenerLogName" value="applicationLog.txt" />
    <add key="SidesListenerWriteEnabled" value="True" />
  </appSettings>
</configuration>